/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 

/* application.html.erb */

html, body {
      height: 100%;
      margin: 0
}
    
.flash {
  text-align: center;
}

.logo_back {
  width: 100%;
  background-color: black;
  padding: 10px 0px 10px 0px;
}

.container {
  min-width: 1160px;
}

.first_bar {
  text-align-last: 1160px;
  display: inline;
  padding-left: 300px;
}

.first_bar a {
  margin: 0px 40px 0px 40px;
}

.logo {
  display: inline;
}

.bar {
  width: 100%;
  background-color: orange;
  padding: 0px 0px 10px 0px;
}

.nav {
  display: inline-block;
}

.product a{
  padding: 0px 30px 0px 30px;
}

.product a:hover {
  background-color: orange;
}

.status {
  padding-left: 570px;
}

.status a:hover {
  background-color: orange;
}

/* footer */
.footer {
  background-color: rgb(238, 238, 238);
  position: static;
  /*left: 0;*/
  bottom: 0;
  width: 100%;
  height: 150px;
}

.footer .container {
  width: 100%;
}

.footer img {
  margin: 0px 8px 0px 48px;
}

#footer-1 {
}

#footer-2 {
  margin-top: 12px;
}
#footer-3 {
  margin-top: 12px;
}
#footer-4 {
  margin-top: 40px;
}
#footer-5 {
}

/*로그인 관련 css*/
.google {
  text-align: center;
  margin-top: 100px;
}

.google a:hover {
  background-color: white;
}

.login-page {
  text-align: center;
  padding: 50px 0px 50px 0px;
  min-height: 100%;
  margin-bottom: -200px;
}

/* main-index */
.main {
  min-height: 100%;
  margin-bottom: -100px;
}

.main .container {
  width: 100%;
  margin-top: 80px;
  background-color: rgb(242, 230, 211);
}

.category {
  text-align: center;
}

/* about */
.about {
  text-align: center;
  margin-top: 30px;
}

/* new-product */
.new-category {
  min-height: 100%;
}

.new-content {
  min-height: 100%;
}


/* category-index */
.index {
  min-height: 100%;
  padding-top: 30px;
  padding-bottom: 100px;
}

.product-list {
  margin-top: 30px;
  border: solid 2px;
  border-color: rgb(196, 195, 195);
}

.product-list a {
  width: 100%;
  display: inline;
  text-decoration: none !important;
}

.product-list a:link {
  width: 100%;
  display: inline;
  color: rgb(196, 195, 195);
}

.product-list a:hover {
  width: 100%;
  display: inline;
  color: rgb(196, 195, 195);
}

.product-list div {
  /*padding: 0;*/
  padding-right: 0;
}

.product-list .col-8 {
  margin-left: -15px;
}

.product-content {
  padding-top: 30px;
  height: 100%;
  padding-left: -15px;
}

.product-content p {
  font-family: 'Do Hyeon', sans-serif;
}

.index-image {
  width: 100%;
  height: 100%;
}

.index-image img {
  max-width:100%;
  max-height:100%;
  /*padding: 3px;*/
}

.index-university {
  font-size: 25px;
}

.index-grade {
  font-size: 25px;
}

.index-name {
  font-size: 25px;
}

.index-title {
  font-size: 30px;
  /*border: solid 2px;*/
  padding-top: 15px;
  padding-bottom: 20px;
}

/* detail */

.hide { 
  display: none;
}
.show { 
  display: block!important
  
}

.detail {
  min-height: 100%;
  margin-bottom: 100px;
  margin-top: 20px;
}

.detail-image {
  text-align: center;
}

.detail-status {
  position: fixed;
  margin-left: 30px;
  width: 320px;
  margin-top: 30px;
}

.status-1 {
  border: solid 2px;
  border-color: rgb(196, 195, 195);
  padding: 10px 0px 10px 10px;
  font-size: 30px;
  font-family: 'Do Hyeon', sans-serif;
  text-align: center;
}

.status-2 {
  border: solid 2px;
  border-color: grey;
  border-top-color: white;
  padding-top: 10px;
}

hr.divider {
  margin-top: 10px;
}


.detail-university {
  font-size: 20px;
  display: inline;
  margin-left: 53px;
  font-family: 'Do Hyeon', sans-serif;
}

.detail-grade {
  font-size: 20px;
  display: inline;
  font-family: 'Do Hyeon', sans-serif;
}

.detail-name {
  font-size: 20px;
  display: inline;
  font-family: 'Do Hyeon', sans-serif;
}

.detail-fixcontent {
  margin-top: 10px;
  margin-left: 53px;
  width: 100%;
  font-size: 15px;
  font-family: 'Do Hyeon', sans-serif;
}

.detail-day {
  margin-top: 10px;
  margin-left: 53px;
  font-size: 15px;
  font-family: 'Do Hyeon', sans-serif;
}

.detail-buy {
  height: 100%;
  text-align: center;  
  padding-bottom: 5px;
}

.detail-title {
  margin-left: 30px;
  width: 320px;
  font-size: 25px;
}

.detail-information {
  width: 100%;
  text-align: center;
  margin: 50px 0px 0px 0px;
  padding-left: 10px;
  /*border: solid 1px;*/
  /*border-color: grey;*/
}

.detail-information1 {
  border: solid 1px;
  border-color: grey;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0px 10px 0px;
}

.detail-information2 {
  border: solid 1px;
  border-color: grey;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0px 10px 0px;
}

.detail-information3 {
  border: solid 1px;
  border-color: grey;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0px 10px 0px;
}

.detail-information a {
  color: black;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.detail-information a:hover {
  background-color: white;
  color: black;
}

.detail-information-content {
  padding-top: 20px;  
}

.detail-content {
  /*border: solid 1px;*/
  margin: 50px 0px 50px 0px;
  width: 100%;
}

.detail-price {
  text-align: center;
}

.portfolio {
}

.portfolio-each {
  display: inline;
}


/* 홍보 파트 */
.promotion {
  height: 100%;
  width: 100%;
  margin-top: 20px;
}